.shadow-lvl-1 {
  box-shadow: 0 1px 2px $background-opacity;
}

.shadow-lvl-2 {
  box-shadow: 0 4px 10px $background-opacity;
}

.shadow-lvl-3 {
  box-shadow: 0 8px 14px $background-opacity;
}

.shadow-lvl-4 {
  box-shadow: 0 12px 20px $background-opacity;
}

.shadow-lvl-5 {
  box-shadow: 0 16px 24px $background-opacity;
}
